body {
  background: url("../img/mount.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html,
body {
  height: 100%;
}

.d-flex {
  height: 100%;
  margin: auto;
}

.wrapper {
  width: 40rem;
  margin: 10px;
  font-size: 1.3rem;
}

/* sections */

.start-section {
  background-color: rgb(255, 235, 238, 0.9);
}

.stop-section {
  background-color: rgb(168, 255, 235, 0.9);
}

.minute-section {
  background-color: rgb(255, 205, 210, 0.9);
}

.payment-section {
  background-color: rgba(128, 203, 196, 0.9)
}

.title-section {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.btn-section {
  background-color: #F5F5F5;
}

.datetime-section {
  background-color: #607D8B;
  color: white;
}

/* end of sections */


/* icon */

.fa-play-circle {
  color: #26A69A;
  background: radial-gradient(white 50%, transparent 50%);
}

.fa-stop-circle {
  color: red;
  background: radial-gradient(white 50%, transparent 50%);

  /* color: white;
  background-color: red; */
}

.fa-clock {
  color: green;
  background: radial-gradient(white 50%, transparent 50%);
}

.fa-money-bill-wave-alt {
  color: #B2DFDB;
  background: radial-gradient(white 50%, transparent 50%);
}

.fa-stopwatch {
  color: #81D4FA;
  background: radial-gradient(white 50%, transparent 50%);
}

/* end of icon */